.footer-main {
  font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px var(--background);
  display: flex;
  width: 100%;
  height: 100px;
  background-color: var(--accent);
  margin-top: 100px;
  bottom: 0;
  left: 0;
  position: sticky;
  top: calc( 100vh - 100px );
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.footer-sub-main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-sub-main-left {
    padding-top: 0.3rem;
    width: fit-content;
    margin-left: 3%;
    border: 2px solid var(--secondary);
}

.footer-sub-main-right {
  padding-top: 0.3rem;
  width: fit-content;
  margin-right: 3%;
  border: 2px solid var(--secondary);
}

.footer-head-main {
  color: var(--text);
  align-items: flex-start;
  font-size: medium;
}

.footer-sub-list-container {
  color: var(--text);
  text-decoration: none;
  list-style-type: none;
  width: fit-content;
  text-align: left;
  padding: 0;
  margin-left: 5%;
  margin-top: 5%;
  font-size: small;
}