.submit-page-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-page-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-page-field form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    background-color: var(--alt-background);
    border-radius: 1rem;
    margin-top: 2rem;
}

.submit-page-title {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.submit-page-title label {
    display: flex;
}

.submit-page-title input {
    align-self: flex-start;
    border-radius: 0.5rem;
    border: 2px solid var(--secondary);
    text-indent: 5px;
}

.submit-page-author {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.submit-page-author select{
border: 2px solid var(--secondary);
border-radius: 0.2rem;
}

.submit-page-author label {
    display: flex;
}

.submit-page-author input {
    align-self: flex-start;
    border-radius: 0.5rem;
    border: 2px solid var(--secondary);
    text-indent: 5px;
}

.submit-page-content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.submit-page-content label {
    display: flex;
}

.submit-page-content textarea {
    display: flex;
    width: 50rem;
    resize: vertical;
    border-radius: 1rem;
    border: 2px solid var(--secondary);
    margin-bottom: 5%;

    padding-left: 8px;
    padding-right: 8px;
}
